body {
  background: white;
  margin: 100px auto;
  width: 50%;
}
#one {
  margin-top: 50px;
  border: 0;
  height: 5px;
  background-color: dodgerblue;
}
#two {
  margin-top: 50px;
  border: 2;
  height: 2px;
  -moz-box-shadow: 0 4px 2px -2px #808080;
  -webkit-box-shadow: 0 4px 2px -2px #808080;
  box-shadow: 0 4px 2px -2px #808080;
}
#three {
  margin-top: 50px;
  border: 0;
  height: 2px;
  background: -moz-linear-gradient(left center, transparent, #000000, transparent);
  background: -webkit-gradient(linear, left center, right center, color-stop(0, transparent), color-stop(0.5, #000000), color-stop(1, transparent));
}
